html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  align-items: center;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 3em;
  min-height: 680px;
  padding: 32px;
  width: 660px;
}

.deck .card {
  align-items: center;
  background: #2e3d49;
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: 125px;
  justify-content: center;
  width: 125px;
  -webkit-animation-duration: 0.5s;
}

.deck .card.open {
  background: #02b3e4;
  cursor: default;
  transform: rotateY(0);
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  background: #02ccba;
  cursor: default;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  margin-bottom: 10px;
  width: 345px;
}

.score-panel .stars {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
}

.score-panel .stars li {
  display: inline-block;
  list-style: none;
}

.score-panel .restart {
  cursor: pointer;
  float: right;
  margin: 0 0 0 5px;
}

.score-panel .right-side {
  float: right;
}

/*
 * Styles for the Win modal.
 */

.win-screen {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.win-screen-content {
  background-color: #fefefe;
  border-radius: 10px;
  color: #000;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  width: 40%;
}

.win-heading {
  font-size: 2em;
  margin: 15px;
}

.star-score {
  color: #FFD700;
  display: flex;
  font-size: 50px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.big-star,
.win-paragraph {
  margin: 15px;
}

.win-restart-button {
  background: #02ccba;
  border: hidden;
  border-radius: 10px;
  color: #fefefe;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 15px;
  width: 250px;
}

.win-restart-button:hover {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
}
